body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  min-width: 100%;
  min-height: 100%;
}

.scrollLeft {
  animation: scrollLeft 30s linear infinite;
}
.scrollRight {
  animation: scrollRight 30s linear infinite;
}

@keyframes scrollLeft {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@keyframes scrollRight {
  0% {
    transform: translate(calc(-50% - 0.5rem));
  }
  100% {
    transform: translate(0%);
  }
}
.group-hover\:paused:hover {
  animation-play-state: paused;
}

/* .profile-image {
  filter: drop-shadow(4px 4px 8px black);
} */